APP_ENV=production
CONFIG_STRICT_MODE=true
API_HOST=0.0.0.0
API_PORT=5313
PUBLIC_API_BASE_URL=https://api.ascendnexusmedia.com/api/public
PUBLIC_APP_BASE_URL=https://ascendnexusmedia.com
ADMIN_APP_BASE_URL=https://ascendnexusmedia.com/admin
CORS_ALLOWED_ORIGINS=https://ascendnexusmedia.com
AUTH_ENABLED=true
AUTH_PROVIDER=local
AUTH_SESSION_SECRET=<GENERATE_A_STRONG_SECRET>
AUTH_ACCESS_TOKEN_SECRET=<GENERATE_A_STRONG_SECRET>
AUTH_REFRESH_TOKEN_SECRET=<GENERATE_A_STRONG_SECRET>
AUTH_COOKIE_SECURE=true
AUTH_COOKIE_SAME_SITE=lax
MEDIA_AUTH_DISABLED=false
MONGODB_URI=mongodb+srv://<USER>:<PASSWORD>@<CLUSTER>/<DATABASE>
MONGODB_DATABASE=ascend_nexus_media
DATABASE_AUTO_MIGRATE=false
REDIS_URL=rediss://:<PASSWORD>@<HOST>:6379
REDIS_TLS_REQUIRED=true
MEDIA_STORAGE_PROVIDER=r2
MEDIA_STORAGE_ENDPOINT=https://<ACCOUNT_ID>.r2.cloudflarestorage.com
MEDIA_STORAGE_BUCKET=<BUCKET_NAME>
MEDIA_STORAGE_REGION=auto
MEDIA_STORAGE_ACCESS_KEY_ID=<ACCESS_KEY_ID>
MEDIA_STORAGE_SECRET_ACCESS_KEY=<SECRET_ACCESS_KEY>
MEDIA_STORAGE_PUBLIC_BASE_URL=https://media.ascendnexusmedia.com
MEDIA_STORAGE_PUBLIC_PREFIX=public
MEDIA_STORAGE_PRIVATE_PREFIX=private
MEDIA_STORAGE_MOCK_ENABLED=false
MEDIA_STORAGE_LOCAL_ENABLED=false
MEDIA_STORAGE_ALLOW_PRODUCTION_MOCK_FALLBACK=false
MEDIA_CDN_ENABLED=true
MEDIA_CDN_PROVIDER=cloudflare
MEDIA_CDN_BASE_URL=https://media.ascendnexusmedia.com
MEDIA_CDN_INVALIDATION_ENABLED=true
MEDIA_UPLOADS_ENABLED=true
MEDIA_DIRECT_UPLOAD_ENABLED=true
MEDIA_WORKERS_ENABLED=true
MEDIA_IMAGE_PROCESSING_ENABLED=true
MEDIA_AUDIO_METADATA_ENABLED=true
MEDIA_AUDIO_WAVEFORM_ENABLED=true
MEDIA_AUDIO_TRANSCODE_ENABLED=true
MEDIA_VIRUS_SCAN_ENABLED=true
MEDIA_FILE_SIGNATURE_VALIDATION_REQUIRED=true
FFMPEG_PATH=/usr/bin/ffmpeg
FFPROBE_PATH=/usr/bin/ffprobe
MEDIA_PUBLICATION_ENABLED=true
PUBLIC_API_ENABLED=true
PUBLIC_API_SEED_FALLBACK_ENABLED=false
PUBLIC_CACHE_ENABLED=true
EMAIL_ENABLED=true
EMAIL_PROVIDER=resend
EMAIL_API_KEY=<EMAIL_API_KEY>
EMAIL_FROM_ADDRESS=hello@ascendnexusmedia.com
CONTACT_NOTIFICATION_RECIPIENTS=ops@ascendnexusmedia.com
NEWSLETTER_ENABLED=false
ANALYTICS_ENABLED=false
MONITORING_ENABLED=true
MONITORING_PROVIDER=sentry
MONITORING_DSN=<MONITORING_DSN>
SECURITY_HELMET_ENABLED=true
SECURITY_CSP_ENABLED=true
SECURITY_RATE_LIMIT_ENABLED=true
SECURITY_CSRF_ENABLED=true
SECURITY_ERROR_DETAILS_ENABLED=false
LOG_LEVEL=info
LOG_FORMAT=json
LOG_PRETTY=false
